@import url('https://fonts.googleapis.com/css?family=Lobster');
*{
	vertical-align: top;	
}
body{
	background: url(../imgs/inicio.jpg) center no-repeat;

}
h1.titulo{
	color: #bbbbbb;
	font-family: lobster;
	font-size: 66px;
	position: relative;
	top: -40px;
	text-align: center;
}
div.encabezado{
	color:white;
	height: 600px;
	width: 100%;
	display: inline-block;
	font-family: lobster;
	font-size: 40px;
	text-align: center;	
}
img.icono{
	height: 150px;
	width: 150px;
	position: absolute;
	top: -15px;
	left: 350px;
}
div#googleMap{
	position: absolute;
	bottom: -150px;
	left: 100px;
}