@import url('https://fonts.googleapis.com/css?family=Lobster');

body{
	background: url(../imgs/inicio.jpg)no-repeat center center;
	height: 500px;
	width:100%;
}
.titulo{
	color: #bbbbbb;
	font-family: lobster;
	font-size: 66px;
	text-align: center;
}
p{
	font-family: Arial;
	background-color: rgba(20,20,20,0.2);
	color: white;
	text-align: justify;
	display: inline-block;
	width: 600px;
	margin: 10px;
}
ul#galeria { 
	list-style: none; 
	position: relative;
	left: 600px;
	bottom: 370px;
}
ul#galeria li { 
	float:left;  
}
ul#galeria li img {
  width: 125px;
  border: 2px solid #fff;
  opacity: 0.5;
   }
ul#galeria img:hover {
  opacity: 1;
  z-index:100;
  -moz-transform:scale(2);                   /* zoom en navegador Firefox */
  -webkit-transform:scale(2);                /* zoom en navegador Chrome y Safari */
  -o-transform:scale(2);
   }                   /* zoom en navegador Opera */
ul#galeria li:nth-child(3n) 
{ float: none;
}
img.icono{
	height: 150px;
	width: 150px;
	position: absolute;
	top: -15px;
	left: 350px;
}